.keyboard {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--background);
    justify-content: center;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--keyboard-unpressed);
    border-radius: 2px;
    height: 3.0rem;
    color: var(--keyboard-text-color)
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

@media (hover: hover) {
    .keyboard-button:hover {
        background-color: var(--keyboard-pressed);
    }
}


.keyboard-pos {
    position: fixed;
    width: 100%;
    padding: 5px;
    bottom: 0%;
}

.isalpha {
    min-width: 2.0rem;
}

.isnotalpha {
    min-width: 4rem;
}

@media screen and (max-width: 768px) {
    .second-row {
        margin: 0.25rem 0;
    }
    .keyboard-button:hover {
        background-color: var(--keyboard-unpressed);
    }

}