.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    background-color: #282c34;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.4rem;
    margin: 0 1.6px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: lightgray;
    border-radius: 2px;
}

@media (hover: hover) {
    .keyboard-button:hover {
        background-color: darkgray;
    }
}


.keyboard-pos {
    position: fixed;
    width: 100%;
    padding: 5px;
    bottom: 0%;
}

@media screen and (max-width: 768px) {
    .second-row {
        margin: 0.25rem 0;
    }
    .keyboard-button:hover {
        background-color: lightgray;
    }

}