
.title {
    color: lightgray;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 2.4em;
}

.top-nav {
    justify-content: space-evenly;
    display: flex;
    align-items: baseline;
}

.icon {
    height: 40px;
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0.3em;
  }
  
  .icon:hover,
  .icon:focus {
    cursor: pointer;
  }

  @media screen and (max-width: 1000px) {
    .icon {
      margin-left: 5px;
      margin-right: 5px;
    }
}

