
.title {
    color: lightgray;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 2.4em;
    background: -webkit-linear-gradient(#02e8b4, #0899db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    height: 40px;
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0.3em;
  }
  
  .icon:hover,
  .icon:focus {
    cursor: pointer;
  }

  .right-button {
    margin-left: 0.25em;
  }

  .left-button {
    margin-right: 0.25em;
  }

  .mail-link {
    cursor: pointer;
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
    .icon {
      margin-left: 5px;
      margin-right: 5px;
      height: 25px;
      width: 25px;
    }

    .title {
      color: var(--keyboard-pressed);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 2.0em;
    background: -webkit-linear-gradient(#02e8b4, #0899db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
}

