.letter-box {
    border: 2px solid var(--box-outline);
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--header-text);
  }
  
  
  .letter-row {
    display: flex;
    justify-content: center;
  }

  .word-padding {
    padding-bottom: 1.5em;
  }

  @media screen and (max-width: 768px) {
    .letter-box {
      border: 2px solid var(--box-outline);
      border-radius: 3px;
      margin: 1.5px;
      font-size: 2.0rem;
      font-weight: 700;
      height: 3rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: var(--header-text);
    }

    .word-padding {
      padding-bottom: 0.75em;
    }
  }
  
